{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container my-5">
    <h1 class="display-4 text-center mb-4">Airbnbs</h1>
    <p class="lead text-center">Enjoy these executive fully furnished apartments (Airbnbs)</p>

    <!-- Filters -->
    <form method="get" class="mb-4">
        <!-- Your filter form here -->
    </form>

    <!-- Listings -->
    <div class="row">
        {% for airbnb in all_airbnbs_list %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if airbnb.images.all %}
                <img class="card-img-top" src="{{ airbnb.images.all.0.image.url }}" alt="{{ airbnb.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ airbnb.name }}</h5>
                    <p class="card-text">{{ airbnb.location }}</p>
                    <p class="card-text">{{ airbnb.rooms }} rooms</p>
                    {% if airbnb.avalability %}
                    <a href="{% url 'airbnb_detail' airbnb.id %}" class="btn btn-primary">View Details</a>
                    {% else %}
                    <p>The Airbnb is already booked. Please try another one.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
