{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Images Section -->
<div style="display: flex; justify-content: space-around; align-items: center; padding: 20px 0;">
    <img src="/static/homepage_images/a.jpeg" alt="Slide 1" style="width: 45%; object-fit: cover; border-radius: 10px;">
    <img src="/static/homepage_images/b.jpeg" alt="Slide 2" style="width: 45%; object-fit: cover; border-radius: 10px;">
</div>

<!-- Airbnb Section -->
<div class="container my-5">
    <h1 class="display-4 text-center mb-4">Airbnb</h1>
    <p class="lead text-center">Embark on an unforgettable journey in Kisumu! Nestled in the tranquil Milimani Estate, our fully furnished apartments are your perfect lakeside retreat. From intimate studios (Airbnbs) to expansive 5-bedroom units, we cater to all. Dive into your Kisumu adventure and let us take care of the rest!</p>
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href="{% url 'airbnb' %}">Check the Airbnbs</a>
    </div>
</div>

<!-- Movers Service Section -->
<div class="container my-5">
    <h1 class="display-4 text-center mb-4">Moving Soon?</h1>
    <p class="lead text-center">Explore our diverse range of moving services! Click the link below to find the perfect fit for your needs</p>
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href="{% url 'movers_service' %}">Movers Services</a>
    </div>
</div>

{% endblock content %}
