{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="3000">
            <img class="d-block w-100" src="/static/homepage_images/a.jpeg" alt="Slide 1">
        </div>
        <div class="carousel-item" data-interval="3000">
            <img class="d-block w-100" src="/static/homepage_images/b.jpeg" alt="Slide 2">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Airbnb Section -->
<div class="container my-5">
    <h1 class="display-4 text-center mb-4">Airbnb</h1>
    <p class="lead text-center">Embark on an unforgettable journey in Kisumu! Nestled in the tranquil Milimani Estate, our fully furnished apartments are your perfect lakeside retreat. From intimate studios (Airbnbs) to expansive 5-bedroom units, we cater to all. Dive into your Kisumu adventure and let us take care of the rest!</p>
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href="{% url 'airbnb' %}">Check the Airbnbs</a>
    </div>
</div>

<!-- Movers Service Section -->
<div class="container my-5">
    <h1 class="display-4 text-center mb-4">Moving Soon?</h1>
    <p class="lead text-center">Explore our diverse range of moving services! Click the link below to find the perfect fit for your needs</p>
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href="{% url 'movers_service' %}">Movers Services</a>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $('#carouselExampleIndicators').carousel();
});
</script>
{% endblock extra_js %}
