<!--templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin-bottom: 20px;">
    <h1 style="font-size: 2.5em; margin-bottom: 10px; color: #3a6186;">Airbnb</h1>
    <p style="line-height: 1.8; font-size: 20px;">Embark on an unforgettable journey in Kisumu! Nestled in the tranquil Milimani Estate, 
        our fully furnished apartments are your perfect lakeside retreat. From intimate studios (Airbnbs) to expansive 5-bedroom units, 
        we cater to all. Dive into your Kisumu adventure and let us take care of the rest!</p>
    <p><a style="display: inline-block; background-color: #3a6186; color: white; padding: 10px 20px; margin-top: 10px; border-radius: 5px; 
    text-decoration: none; transition: background-color 0.3s ease; font-size: 20px;" href="{% url 'airbnb' %}">Check the Airbnbs</a></p>
</div>

<div style="margin-bottom: 20px;">
    <h1 style="font-size: 2.5em; margin-bottom: 10px; color: #3a6186;">Moving Soon?</h1>
    <p style="line-height: 1.8; font-size: 20px;">Explore our diverse range of moving services! Click the link below to find the perfect fit for your needs</p>
    <p><a style="display: inline-block; background-color: #3a6186; color: white; padding: 10px 20px; margin-top: 10px; border-radius: 5px; 
    text-decoration: none; transition: background-color 0.3s ease; font-size: 20px;" href="{% url 'movers_service' %}">Movers Services</a></p>
</div>
<div style="margin-bottom: 20px;">
    <h1 style="font-size: 2.5em; margin-bottom: 10px; color: #3a6186;">Other Services</h1>
    <p style="line-height: 1.8; font-size: 20px;">Explore our other range of  services! Click the link below to find the perfect fit for your needs</p>
    <p><a style="display: inline-block; background-color: #3a6186; color: white; padding: 10px 20px; margin-top: 10px; border-radius: 5px; 
    text-decoration: none; transition: background-color 0.3s ease; font-size: 20px;" href="{% url 'otherservices' %}">Other Services</a></p>
</div>

<style>
    @media only screen and (max-width: 600px) {
        body {
            font-size: 16px;
        }
        h1 {
            font-size: 2em;
        }
    }
</style>
{% endblock content %}
